@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

body input[type=checkbox], body button, body img, body a {
  cursor: pointer;
}

body {
  overflow: auto;
  user-select: none;
}

a {
  color: #666666;
  font-size: 12px;
}

i, em, b {
  font-style: normal;
}

img {
  display: block;
}

.common {
  width: 1190px;
  margin: 0 auto;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* .sprite{
    background-image: url(../img/headsprite.png);
} */
/*清浮动*/
.clearfix::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  clear: both;
  zoom: 1;
}

/* 通常用做头部分开li的线 */
.line {
  display: inline-block;
  width: 2px;
  height: 12px;
  margin: 0 2px;
  transform: translateY(2px);
  background-color: #e2dcdc;
}

/* 三角 */
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top-color: #9d9898;
  transform: translateY(0.5px);
}

/*清浮动*/
/* .fj::after{
    content: "";
    width: 100%;
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
    visibility: hidden;
} */
