*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    // min-width: 500px;
    height: 100%;
    background-color: #FFFFFF;
}

// 定义基准值  设计稿1/10
$size:108.0;
// 转换red函数
@function rem($val){
    @return $val / $size * 1rem ;
}

// 基本混合宏
@mixin common($w,$h,$bg:#fff,$m:0 auto,$bd:none,$bRs:0%){
    width: $w;
    height: $h;
    background: $bg;
    margin: $m;
    border: $bd;
    border-radius: $bRs;
}

// 主体下的 input[type = checkbox]、按钮、图片、a 滑过小手
body input[ type = checkbox ],body button,body img,body a{cursor: pointer;}

body{
    // 滚动条自动适用
    overflow: auto;
    // 用户不可选中
    user-select: none;
}

a{
    color: #666666;
    font-size: 12px;
}

i,em,b{
    font-style: normal;
}

img{
    display: block;
}

.common{
    width: 1190px;
    margin: 0 auto;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

/* .sprite{
    background-image: url(../img/headsprite.png);
} */

/*清浮动*/
.clearfix::after{
    content: "";
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
    zoom: 1;
    // zoom:1 就是IE6 专用的 触发 haslayout 属性的
    // hasLayout是IE特有的一个属性。很多的IE下的css bug都与其息息相关。
}

/* 通常用做头部分开li的线 */
.line{
    display: inline-block;
    width: 2px;
    height: 12px;
    margin: 0 2px;
    transform: translateY(2px);
    background-color: #e2dcdc;
}

/* 三角 */
.triangle{
    display: inline-block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top-color: #9d9898;
    transform: translateY(.5px);
}

/*清浮动*/
/* .fj::after{
    content: "";
    width: 100%;
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
    visibility: hidden;
} */